
/*===========================================================================*/
                        /* ~~~ Utility ~~~ */ 
/*===========================================================================*/

    body {
        background-color: #F8EBDF;
        height: 5000px;
        font-family: "PT Sans Narrow", sans-serif;
    }

    .big-wrapper {

    }

    .clearfix {
        overflow: auto;
        z-index: 10;
    }

    .line-break {
        border: 1px solid #eee;
    }

    .border-rad {
        border-radius: 5px;
    }

    .horiz-center {
        text-align: center;
    }

    .relative {
        position: relative;
    }

/*===========================================================================*/
                        /* ~~~ Bootstrap Override ~~~ */ 
/*===========================================================================*/

    /*==============================  navbar  =============================*/
            
    .navbar {
        background-color: transparent;
        border: none;
        padding-top: 20px;
    }

    .navbar-default .navbar-nav>li>a  {
        color: #100B08;
        text-decoration: none;
    }

    .navbar-default .navbar-nav>li>a:hover  {
        color: #100B08;
        text-decoration: underline;
    }

    .navbar-toggle {
        background-color: #FDFDFB;
    }

    .nav > li {
        display: inline-block;
        font-size: 1.5em;
        padding: 15px;
    }

    .navbar-default .navbar-collapse {
        background-color: #9A7450;
        box-shadow: none;
        border: 1px solid white;
    }

    .navbar-nav{
        display: inline-block;
        margin: 0 auto;
    }

    ul.nav.navbar-nav {
        border-bottom: 3px solid #100B08;
    }
/*===========================================================================*/
                        /* ~~~ HOMEPAGE ~~~ */ 
/*===========================================================================*/

    /*==============================  hero  =============================*/
            
    .hero-unit {
        background-color: #eee;
        background-image:url('http://i.ytimg.com/vi/MO55jOB7-5Q/maxresdefault.jpg');
        background-size:cover;
        height:700px;
        position: relative;
        opacity: .5;
    }

    .hero-title {
      position: absolute;
      bottom: 10px;
      left: 5px;
      color: #100B08;
      font-size: 4em;
      text-align: center;
    }


/*===========================================================================*/
                        /* ~~~ MEDIA QUERIES ~~~ */ 
/*===========================================================================*/

    /*==============================  navbar  =============================*/
            
    @media (min-width: 768px) {

        #fully-nav {
            /*background-color: lightgrey;*/
            /*border: none;*/
            background-color: transparent;
            border:none;
        }
    }

    @media (min-width: 768px) {

        .navbar-nav {
            float: none;
            margin: 0;
        }

    }

    @media (max-width: 768px) {
        ul.nav.navbar-nav {
            border: none;
        }
    }

    /*==============================  hero title  =============================*/

    @media (max-width: 578px) {

        .hero-title {
            font-size: 2.3em;
            bottom: 0;
            transform: none;
            left: 0;
            right: 0;
        }

    }
