
/*===========================================================================*/
                        /* ~~~ Utility ~~~ */ 
/*===========================================================================*/
    .align-left {
        left: 10px;
    }

    body {
        background-color: #F8EBDF;
        /*height: 5000px;*/
        font-family: "Rye", sans-serif;
    }

    .big-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        box-shadow: 0px 0px 2px 3px rgba(239, 136, 73, 0.5)
    }

    .background-img {
        position: fixed; 
        top: 0; 
        left: 0; 
        min-width: 100%;
        min-height: 100%;
        z-index: -10;
    }

    .queue-font {
        color: #CCDDE4;
    }

    .clearfix {
        overflow: auto;
        z-index: 10;
    }

    .line-break {
        border: 1px solid #eee;
    }

    .border-rad {
        border-radius: 5px;
    }


    .relative {
        position: relative;
    }

    .horiz-center {
        left: 50%;
        transform: translateX(-50%); 
    }

    .vert-center {
        top: 50%;
        transform: translateY(-50%);
    }
    .abs-horiz-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .abs-vert-center {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }

    .txt-center {
        text-align: center;
    }

    .absolute {
        position: absolute;
    }
    
    .inline-block {
        display: inline-block;
    }

    .page-break {
        border: 1px solid #CCDDE4;
    }

    .spacer {
        height: 300px;
    }
/*===========================================================================*/
                        /* ~~~ Bootstrap Override ~~~ */ 
/*===========================================================================*/

    /*==============================  navbar  =============================*/
    
    .navbar-fixed-top {
        top: 0px;
        position: absolute;
    }
    .navbar {
        background-color: transparent;
        border: none;
        padding-top: 20px;
    }

    .navbar-default .navbar-nav>li>a  {
        color: #100B08;
        text-decoration: none;
    }
    
    .navbar-default .navbar-nav>li>a:hover  {
        color: #3A1D0D;
        text-decoration: underline;
    }

    .navbar-toggle {
        background-color: #CCDDE4;
        border: 2px solid #100B08;
    }

    .nav > li {
        display: inline-block;
        font-size: 1.5em;
        padding: 15px;
    }

    .navbar-default .navbar-collapse {
        background-color: transparent;
        box-shadow: none;
        border: 1px solid #100B08;
        font-family: "Rye", sans-serif;
    }

    .navbar-nav{
        display: inline-block;
        margin: 0 auto;
    }

    ul.nav.navbar-nav {
        border-bottom: 3px solid #100B08;
    }
/*===========================================================================*/
                        /* ~~~ HOMEPAGE ~~~ */ 
/*===========================================================================*/

    /*==============================  logo  =============================*/

    .logo-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 110;
    }

    .logo {
        height: 150px;
        width: 150px;
    }
    
    .logo-link {
        display: inline-block;
    } 

    .name-title {
        bottom: -20px;
        font-family: "Rye", sans-serif;
        font-size: 2em; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }        
    /*==============================  custom navbar  =============================*/

    .arm {
        height: 1px;
        border: 1px solid black;
        width: 40%;
    }
    
    .lft-arm {
        position: absolute;
        left: 0;

    }

    .rght-arm {
        position: absolute; 
        right:0;
    }

    .nav-container {
        position: absolute;
        top: 90px;
        left: 50%;
        width: 30%;
        z-index: 120;
    }

    .rght-nav {
        transform: translateX(40%);
    }

    .lft-nav {
        transform: translateX(-140%);
    }

    .nav-item {
        color: #100B08;
        display: inline-block;
        font-size: 1.6em;
        font-family: "Rye", sans-serif;
        padding: 0 10px;
    }
    
    .nav-item-rght {
        right: 0;
    }

    .nav-item-lft {
        left: 0;
    }
    .nav-item-link {
        text-decoration: none;
    }

    .nav-item-link:hover {
        color: #3A1D0D;
        text-decoration: underline;
    }

    #hidden-nav {
        display: inline-block;
    }

    .right-align-nav {
        position: absolute;
        right: 10px;
        left: 10px;
        z-index: 100;
        top: 60px;
    }
    /*==============================  hero  =============================*/
            
    .hero-unit {
        background-color: #eee;
        background-image:url('http://i.ytimg.com/vi/MO55jOB7-5Q/maxresdefault.jpg');
        background-size:cover;
        height:700px;
        position: relative;
        opacity: .5;
    }

    .hero-title {
        bottom: 10px;
        color: #100B08;
        font-family: "Rye", sans-serif;
        font-size: 3.5em;
        text-align: center;
    }
    
    /*==============================  sub images  =============================*/

    .img-container {
        /*background: url(http://www.placehold.it/500);*/
        display: inline-block;
        height: 400px;
        min-width: 250px;
        position: relative;
    }

    .sub-img {

    }
    
    .opaque {
        height: 100%;
    }

    .first-sub {
        background-color: black;
        background: url(https://img1.etsystatic.com/038/0/7882618/il_fullxfull.623173907_t2rh.jpg);
        background-size: cover;
    }

    .second-sub {
        background: url(https://img0.etsystatic.com/007/0/6664208/il_570xN.384526352_4k5u.jpg);
        background-size: cover;
    }

    .third-sub {
        background: url(http://ny-image0.etsy.com/il_fullxfull.209658680.jpg);
        background-size: cover;
    }
    
    /*==============================  hover-container contents  =============================*/

    .hover-container {
        background-color: rgba(204,221,228, 0.7);
        border: 2px dashed #100B08;
        position: relative;
        margin-top: -50px;
        padding: 10px;
    }
    
    .hover-description {
        padding: 10px;
    }
    .shop-btn {
        /*padding: 5px;*/
    }
    /*==============================  footer  =============================*/

    .footer {
        color: #3A1D0D;
        background-color: #CCDDE4;
        position: relative;
        font-size: .9em;
    }
    
    .footer-title {
        display: inline-block;
        float: left;
        padding-left: 20px;
    }     

    .copyright {
        display: inline-block;
        float: right;
        right: 20px;
    }
    

/*===========================================================================*/
                        /* ~~~ QUEUE PAGE ~~~ */ 
/*===========================================================================*/
    
    /*==============================  nav  =============================*/
            
    /*==============================  Content  =============================*/

    /*.woodback-nav-item {
        color: #CCDDE4;
        display: inline-block;
        font-size: 1.6em;
        font-family: "Rye", sans-serif;
        padding: 0 10px;
    }*/

    .woodback-arm {
        height: 1px;
        border: 1px solid #CCDDE4;
        width: 40%;
    }
    
    a.woodback-item-link:hover {
        color: #B99A88;
        text-decoration: underline;
    }
    
    .navbar-default .navbar-nav>li.woodback-nav-item>a {
        color: #CCDDE4;
        font-size: 1em;
        text-decoration: underline;
    }

    .navbar-default .navbar-nav>li.woodback-nav-item>a:hover {
        color: #B99A88;
        text-decoration: underline;
    }
    /*==============================  Table  =============================*/

    /*==============================  bootstrap override  =============================*/
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {

        padding: 8px;
        line-height: 20px;
        vertical-align: middle;
        border-top: 1px solid #ddd;
    }
    
    /*vertical middle*/
    td > p {
        margin: 0;
    }
    #queue-table, #recent-table {
        border-bottom: none;
    }

    #recent-table{
        max-width: 500px;
        margin: 0 auto;
    }

    #queue-table {
        max-width: 1000px;
        margin: 0 auto;
    }
    .table>thead>tr>th {
        border-bottom: none;
    }

    .table-wrapper {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
            
    .table-container {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .table {
        text-align: center;
        background-color: #CCDDE4;
    }

    td {
        font-family: "PT Sans Narrow", sans-serif;
    }

    button.inProgress-true {
        display: none;  
    }

    p.inProgress-false {
        display: none;    
    }

    .shipped-table {
        margin-bottom: 50px;
    }

    .table-title {
        display: inline-block;
        border-bottom: 2px solid #100B08;
        z-index: 100;
    }
    /*==============================  admin form  =============================*/
    
    .admin-form-container {
        margin-top: 50px;
        position: relative;
    }

    .new-customer-form {
        width: 50%;
        margin: 0 auto;
        text-align: left;
        max-width: 650px;
    }
    
    .input-field {
        border: 1px solid rgb(51, 51, 51);
        width: 100%;
        margin: 15px;
        padding: 10px;
        position: relative;
        transition: background-color 0.5s ease;
        max-width: 750px;
    }

    .input-field:focus {
        outline: none;
        box-shadow: 0 0 2px 3px rgba(58,29,13, 0.5)
    }

    .invalid-form {
        color: red;
        background-color: rgba(233, 18, 1, 0.4);
        box-shadow: 0px 0px 5px 5px rgba(233, 18, 1, 0.9);
    } 

    
    .submit-customer-btn {
        margin: 15px;
        position: relative;
    }

    .form-label {
        color: #100B08;

    }
    
    .awesome-border-fill {
        background-color: rgba(206, 221, 228, 0.5);
        border-radius: 5px;
        border-bottom: 2px solid #CCDDE4;
        border-top: 2px solid #CCDDE4;
        padding: 5px;
    }
    .form-header {

        display: inline-block;
        padding: 20px;
        position: relative;
        text-align: center;

    }


/*===========================================================================*/
                        /* ~~~ SHOP ~~~ */ 
/*===========================================================================*/
   
    /*==============================  container  =============================*/
    .product-container {
        display: inline-block;
        padding: 15px;
        position: relative;
        width: 100%;
        line-height: 100%;
        vertical-align: middle;
        min-width: 700px;
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .product-img{
        float: left;
    }

    .information-container {
        margin-top: 40px;
        padding-left: 330px;
        text-align: left;
    }

    .shop-item-checkout {
        height: 80px;
        width: 200px;
    }
    .shop-item-price {
        margin-right: 50px;
        font-size: 1.8em;
    }
    .price-and-button {
        bottom: 15px;
        display: inline-block;
        right: 15px;
        position:absolute;
    }
    
    .list-element {
        padding: 0;
    }




/*===========================================================================*/
                        /* ~~~ MEDIA QUERIES ~~~ */ 
/*===========================================================================*/
    

    /*==============================  LANDING PAGE  =============================*/
            

        /*==============================  logo  =============================*/

        @media (max-width: 768px) {

            .logo-container {
                left: 100px;
            }

            .arm {
                display: none;
            }

            .woodback-arm {
                display: none;
            }
        }
                

        /*==============================  navbar  =============================*/
        /*CUSTOM NAV ELEMENTS GO BYE BY WHEN WE GO LOWER THAN 768PX*/

        @media (max-width: 768px) {
            .nav-container {
                display: none;
            }
        }
        @media (min-width: 768px) {

            #fully-nav {
                background-color: transparent;
                border:none;
            }

            #hidden-nav {
                display: none;
            }
        }

        @media (max-width: 768px) {

            .navbar-fixed-top {
                top: 120px;
            }
        }

        @media (min-width: 768px) {

            .navbar-nav {
                float: none;
                margin: 0;
            }

        }

        @media (max-width: 768px) {
            ul.nav.navbar-nav {
                border: none;
            }
        }

        /*stop widening when we get to 1420px window width*/
        @media (min-width: 1420px) {

            .nav-container {
                width: 425px;
            }
        }

        /*==============================  hero   =============================*/

        @media (max-width: 578px) {

            .hero-title {
                font-size: 2.3em;
                bottom: 0;
                transform: none;
                left: 0;
                right: 0;
            }
        }

        @media (max-width: 578px) {

            .hero-unit {
                height: 500px;
            }
        }
        
        /*==============================  sub-images  =============================*/

        /*first and second sub image responsive controls*/
        @media (min-width: 992px) {

            .first-sub, .second-sub{
                height: 450px;
            }
        }

        @media (min-width: 1200px) {
            .first-sub, .second-sub {
                height: 500px;
            }
        }
        
        @media (min-width: 1300px) {
            .first-sub, .second-sub {
                height: 600px;
            }
        }

        @media (min-width: 1500px) {
            .first-sub, .second-sub {
                height: 700px;
            }
        }

        /*second sub image responsive controls*/

        @media (max-width: 500px) {
            .second-sub{
                height: 300px;
            }
        }

        @media (max-width: 350px) {
            .second-sub{
                height: 200px;
            }
        }

        /*@media (max-width: 300px) {
            .second-sub{
                height: 150px;
            }
        }*/
        /*third sub image responsive controls*/
        @media (max-width: 1200px) {
            .third-sub{
                height: 300px;
            }
        }

        @media (max-width: 880px) {
            .third-sub{
                height: 200px;
            }
        }

        @media (max-width: 550px) {
            .third-sub{
                height: 100px;
            }
            .first-sub {
                height: 250px;
            }
        }

        /*change background of .second-sub when we go smaller than 768px*/
        @media (max-width: 768px) {
            .second-sub {
                background: url(http://ecx.images-amazon.com/images/I/916QVDxj3RL._SX425_.jpg);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        @media (max-width: 300px) {
            .footer-title, .copyright {
                font-size: 0.5em;
            }
        }